body{
    position: relative;
}

html, body, #page, #main, #primary, #content, #IM_main_div{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}



.site {
    max-width: 100% !important;
}

.upper_map_btn{
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 3px 3px 3px;
    font-size: 10px;
    color: #373a3c;
    background-color: #f3f3f3;
    border-color: #8c8c8c;
    position: relative;
    top: -1px;
}

.upper_map_btn:hover{
    background-color: #d4d4d4;
}

.upper_map_btn.active{
   background-color: #e6e6e6
}

#main{
    position: relative;
}

.IM_main_div table, .IM_main_div table::before, .IM_main_div table::after{
	box-sizing: border-box;
}

.IM_main_div div{
	box-sizing: initial;
}

.IM_main_div h2 {
	color: #2c879b;
	font-size : 100%;
}

.IM_error_message {
	color : red;
}

.im_loc_nav{
    bottom: 155px;
}

.im_loc_nav.leafletcustom{
 bottom: initial;
}

.loc_data_select{
/*    min-width: 95%;*/
}

.list_export_icon{
    width: 15px;
    height: 15px;
    color: #bbbbbb;
    font-size: 20px;
    position: absolute;
    margin-top: -8px;
    margin-left: 3px;
}

.list_export_icon:hover{
  cursor: pointer;
  color: black;
}

.list_export_icon_parent{
    position: relative;
}

.custom_option_pane{
    display:none;
    position:absolute;
    bottom:-67px;
    right:30px;
    background:#fff;
    border: 2px solid #fff;
    border-radius:3px 0px 3px 3px;
    margin-right: 5px;
    min-width: 320px;
    text-align: left;
    padding:10px;
    font-size: 12px;
    font-weight: normal;
}




.custom_control_base{

    color: #666666;
    font-family:Roboto,Arial,sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    z-index: 0;
    position: absolute;
    right: 0px;
    line-height: 25px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;

}

div.custom_control_base.leafletcustom{
    position: relative;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    text-align: initial;
    display: flex;
    margin-bottom: 5px;
}

.custom_control_base:hover{
  color: black;
  cursor: pointer;
}

.custom_control_shadow{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}


#IM_filter_popup_div{
    overflow-y: hidden;
}

.im_map_modal_content{
    position: relative;
}

.im_map_modal_body{
    max-height: calc(100vh - 168px);
    overflow-y:auto;
}



.im_map_modal_content .modal-title{
    display: inline-block; 
    font-size: 20px;
}


@media only screen and (max-width: 576px) {

        .im_map_modal_content .modal-title{
        font-size: 16px;
    }

}


.search_container{
    width: 100%;
    padding-top: 8px;
    padding-left: 0px !important;
    background: #227fad;
    color: white;
-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.19);

}

.search_container input{
    background-position: 5px 75% !important;
    background-repeat: no-repeat !important;
    background-size: 15px 15px !important;
    padding-left: 28px !important;
    margin-top: 3px !important;
    color: white !important;
}

.search_container input::placeholder{
color: white;
opacity: 1;
}


#global_search_dropdown li.select2-results__option--highlighted{
    background-color: #1a688e !important;
}



#global_search_dropdown > span{
 background: #227fad !important;
 color: white !important;
 border: none !important;
 border-radius: 0px !important;
 border-top: 1px solid white !important;
-webkit-box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.22);
box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.22);
}

#global_search_dropdown strong{
  padding-left: 15px !important;
  /*background:  #156b96 !important;*/
}



#global_search_dropdown ul.select2-results__options--nested > li{
  padding-left: 25px !important;
  color: #f7f7f7 !important;
}

#global_search_dropdown .select2-results__option.loading-results{
 color: white !important;
 padding-left: 15px !important;
}

#global_search_dropdown .select2-results__option.select2-results__message{
  padding-left: 15px !important;
}

.select2-dropdown{
-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
}

.search_container .select2-selection__choice{
    display: none !important;
}

.gm-style > button[aria-label="Vollbildansicht ein/aus"]{
    top: 27px !important;
    right: -4px !important;
}

.gm-style > button:last-child{
    top: 27px !important;
    right: -4px !important;
}


.search_container .select2-selection{
    border: 1px solid transparent !important;
    /*border-bottom: 1px solid rgb(170, 170, 170) !important;*/
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent !important;
}


.im_custom_footer{
    background: white;
    height: 15px;
    padding: 0;
    position: sticky;
    bottom: 0;
}

.im_custom_footer_big{
    background: white;
    position: sticky;
    bottom: 0;
}


.im_custom_footer_big > input{
    margin: 0;
}

#IM_filter_popup_content .jstree{
    font-size: 12px;
}


#commentWindow{
   overflow-y: hidden;
   margin-bottom:25px
}

#IM_Save_Syn_Map{
   overflow-y: hidden;
   margin-bottom:25px
}



#IM_filter_popup_div{
   overflow-y: hidden;
   margin-bottom:25px
}


.im_name_hl{

    font-size: 16px;
    color: #2c879b;
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid black;
}


.filterComponent h2{
    padding: 10px;
    padding-left: 0px;
}

.filterComponent > span{
    padding-bottom: 5px;
    padding-right: 10px;
}

#groupingComponent{
/*border-top: 1px solid #e5e5e5;*/
}

.sortOrderDiv > div{
    padding-top: 5px;
}

#commentTabs{
    border:none;
}

.im_custom_button{
 background: none !important;
 background-image: none !important;
 color:initial;
 font-size: 14px !important;
 margin-top: 15px;
}

.im_edit_comments_btn{

    padding-bottom: 17px;
    color: #21759b;
    text-align: right;

 } 

 .im_edit_comments_btn > a{
    text-decoration: none;
    font-size: 12px;
    color: #21759b;
 }  

.im_custom_button:hover{
 background: #efefef !important;

}

.inf_gemeinde_hl{
    padding-bottom: 10px;
}

.pixi-popup{
    padding-top: 45px;
}

.pixi-popup .leaflet-popup-close-button{
    top: 37px !important;
    right: -7px !important;
    padding: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 2px solid #e49595 !important;
    border-radius: 50% !important;
    background: white !important;
    color: #e49595!important;
    font-size: 12px !important;
/*        -webkit-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.05);
-moz-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.05);
box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.05)*/
}

.pixi-popup .leaflet-popup-close-button:hover{
    border-color: #e46666 !important; 
    color: #e46666 !important; 
}

.ifw_row{
    line-height:18px;
    margin-bottom:5px;
    width: 25%;
    position: relative;
}

.ifw_row:hover{
    cursor: pointer;
    opacity: 0.75;
}

.ifw_row img{
   width: 18px;
}

.ifw_row span{
    font-size: 9px;
    position: absolute;
    left: 24px;
    top: 18px;
    background: #67b3e8;
    border-radius: 3px;
    color: white;
    min-width: 14px;
    height: 14px;
    padding-right: 2px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ifw_parent{
  max-width: 325px !important;
}

.ifw_first_child{
  max-width: 325px !important;
}

.ifw_second_sub_child{
  max-width: 322px !important;
}

.ifw_forth_sub_child{
  max-width: 320px !important;
}

.inner_ifw_container{
   /* overflow:auto;
    max-height: 270px;
    margin-top: 5px;*/
}

.outer_ifw_container{
   max-width:  320px;
   max-height: 300px;
}


.custom_gm_map_width{

  max-width: 300px !important;
  /*left: 10px !important;*/

}

.custom_gm_map_width > div{
  /*  width: 100% !important;
    max-width:  300px !important;*/
}

.custom_gm_map_width  > div > div {
    /*padding-left:15px;*/
}

.delete_symbol{
    font-size: 12px;
    width: 14px;
    height: 14px;
    color:#bb0000;
}

.delete_symbol:hover{
    cursor: pointer;
    color:#ff0000;
}

.legend_checkbox{
    position: relative;
    top: 2px;
}

.im_parent_legend_element {
	background: #efefef;
  	font-size: 13px;
  	overflow:hidden;
  	border-bottom: 1px solid #e6e6e6;
}

.im_parent_legend_element:hover{
    cursor: pointer;
    background:#eaeaea;
}

.im_parent_legend_element:hover .fa.fa-circle.qcheck.q-stack.fa-stack-1x{
    color:#eaeaea;
}



.im_parent_legend_element td:nth-child(2){

    padding-top: 3px;
    padding-bottom: 0px
 }

.im_single_legend_element {
 	font-size: 13px;
 	overflow: hidden;
}

.im_single_legend_element:hover{
cursor: pointer;
background: #f5f5f5;
}

.im_child_legend_element{
    font-size: 12px;
    overflow:hidden;
}

.im_child_legend_element.toggle:hover{
    cursor: pointer;
    background: #f5f5f5;
}


#IM_Syn_Map_Cotainer{
    padding-top: 15px;
    -webkit-box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
    -moz-box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
    box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
}

#IM_Save_Syn_Map_Button{
    margin-top: 5px;
}

.legendtable tbody{
	max-height: 500px;
	overflow-y: auto;
	float: left;
	width: 100%;
    overflow-x: hidden;   
}


.legendtable td{
    padding: 8px;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
    min-width: 34px;
  
}


#leftTable .menu_grp:nth-child(2) .menu_collapse > *:not(i)
{
    padding-left: 14px;
}

#leftTable .menu_grp:nth-child(2) > .menu_collapse{
    -webkit-box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
    -moz-box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
    box-shadow: inset 0px 14px 18px -14px rgba(0,0,0,0.18);
}


#leftTable .menu_grp:last-child .menu_collapse > *:not(a)
{
    padding-left: 14px;
}


#IM_legend img {
	max-width : none;
    vertical-align: top;
}

.IM_main_div th, .IM_main_div td {
	padding : 0
}

#IM_legend .focused > td div.l_span_container {
	color : #009999;
}

.chosen-container {
	font-size: 0.9rem; 
}

/*.collapseSymbol span {
	width : 19px;
	height: 19px;
	display: block;
	border-radius: 1em;
	background-color: white;
	color : gray;
	font-weight: bold;
	text-align: center !important;
	font-family: Arial;
	border : 0;
}*/

/*#IM_Syn_Map_Selection_chosen .chosen-drop {
	border-bottom: 0;
	border-top: 1px solid #aaa;
	top: auto;
	bottom: 40px;
}
*/

.hex_header{
     -webkit-background-size: 298px 58px !important;
    -moz-background-size: 298px 58px !important;
    -o-background-size: 298px 58px !important;
    background-size: 298px 58px !important;
    background-repeat: no-repeat;
} 

.hex-modal-title{
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
}

.hex-modal-btn-grp{
    width: 100%;
}

.hex-modal-btn{
    text-align: left;
}

.mode_switch_label{
outline: none !important;
}

.addComment{
outline: none;	
}

.helpsymbol{
    color: #0997d2;
    font-size: 14pt!important;
    margin-left: 6px;
}

.helpsymbol:hover{
cursor: pointer;
}

@media only screen and (max-width: 300px) {
    .helpsymbol {
        margin-left: 0px;
    }
}

.gradient_help{
    position: absolute;
    right: -35px;
    top: 4px;
    font-size: 28px;
    color: #9c9a9a;
}   

.gradient_help:hover{
cursor: pointer;
}

.map_mode_selection{
 display: inline-block;
 position: absolute;
 right: 9px;
}

.map_mode_selection label{
    font-size: 10px;
    padding: 3px;
    padding-bottom: 4px;
    margin-top: -2px;
}

.collapsesymbol_icon{
    color: #c7c7c7;
    font-size: 14px!important;
    padding-top: 2px;
    padding-left: 8px;
}

.collapsesymbol_icon:hover{
opacity: 0.6;
cursor: pointer;
}

.activate_symbol_icon{
    color: #d8d8d8;
    font-size: 8px;
    margin-left: 9px;
    top: -1px;
    position: relative;
}

.activate_symbol_icon.active{
    color: #0990f3;
}


.mark_parent{
    font-weight: normal;
    margin-top: 12px;
}

.mark_item {
  margin-top: 5px;
}

.qcheck{
    color: gray;  
}

.q-span{
    top: 21px;
    margin-left: -7px;
    position: absolute !important;
    width: 12px !important;
    height: 12px !important;
    line-height: 12px !important;
}

 .q-stack{
    font-size: 12pt !important;
    color: #efefef;
    line-height: 10px !important;
    width: 10px;
    height: 10px;
    margin-left: -1px;
    margin-top: 2px;
 }

.qButtonParent{
/*    padding-right: 10px;
    padding-top: 5px;*/
}


.qButtonParent:hover {
    color: black;
    cursor: pointer;
}

.quantifyButton{

    position: relative;
    width: 30px;
    height: 30px;
    line-height: 18px !important;
    text-align: center;
    font: 14px sans-serif;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #9a9a9a;
}

.quantifyButton > img{
    max-width: 100% !important;
    opacity: 0.5;
    margin-top: 2px;
    margin-left: -10px;
}

.quantifyButton > img:hover{
 opacity: 1.0;
}

.quantifyButton:hover .fa-times-circle-o{
	color:#333;
}

.quantifyButton:hover .zplus1{

color:black;

}

.greensymbol{

  color:green;
}

 .q-stack1{
 z-index: 1;
    font-size: 9pt!important;
    line-height: 12px !important;
    top: 0;
    width: 12px;
    height: 11px
}

#listcontainer{
  bottom: 0px;
  /*position: absolute;*/
  margin-bottom:20px;
}

#gradient_startblock{
    height: 35px;
    position: absolute;
    width: 6px;
    top: 0px;
    left: -8px;
    background-color: rgba(70, 70, 70, 0.5);
    border: 1px solid;
    cursor: pointer;
    margin-right: 2px;
    border-color: #6f6f6f;
}

#gradient_startblock:hover{
   opacity: 0.86;
   border-color: white;
}


.canvas_list{

  position: absolute;
  padding: 0;
  list-style: none;
  margin: 0;
  display: none;
  bottom: 35px;

}


.canvas_list > li > canvas {
 /*border : 2px solid grey;*/
 border-radius: 2px;

}

.canvas_list > li{
 height: 35px;
 margin-bottom:5px;
 position: relative;
}

.canvastext:hover{

cursor: pointer;

}


#activediv canvas {
 cursor: pointer;
}



.hoverdiv{
    display: none;
    background: black;
    opacity: 0.5;
    position: absolute;
    width: 256px;
    height: 35px;
    top:0px;
    cursor: pointer;
}

.canvastext{
     display: none; 
    border-radius: 2px;
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 256px;
    height: 15px;
    top: 11px;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;                                     
}

.canvas_icon{
    position: absolute;
    right: -18px;
    color: white;
    margin-top: 8px;
    font-size: 17pt !important;
} 

.editsymbol{
    opacity: 0.9;
    z-index: 3;
    margin-top: -30px;
    left: 5px;
    color: white !important;
    font-size: 10pt !important;
    position: absolute;
}

.editsymbol:hover{
cursor: pointer;
opacity: 1.0;
}

.editsymbolbg{

    z-index: 2;
    position: absolute;
    left: 5px;
    margin-top: -30px;
    color: black;
    font-size: 10pt !important;
    opacity: 1.0;
}

.exchangeparent{
  height: 35px;

}

.colpickparent{

    position: absolute;
    top: -200px;
    height: 200px;
    width: 200px;
}

.colpicktriangle{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #444;
    top: -12px;
}

.cp-color-picker{
    margin-top: -170px;
    margin-left: 37px;
    left:0px !important;
    top:0px !important;
  }

  #colorbarlegend_left{
    left: -9px;
  }

  #colorbarlegend_right{
    right: 0px;
  }

  .colorbarlegenditem {

    color: white;
    font-size: 14px;
    position: absolute;
    top: -18px;

  }
  
#tagComponent input {
	margin-bottom : 0.3em;
	margin-right : 0.4em;
}

.IM_GM_Context_Menu {
    background-color: white;
    border: 1px solid gray;
    font-size : 15px;
}
.IM_GM_Context_Menu_Item {
    padding: 3px 6px;
}
.IM_GM_Context_Menu_Item:hover {
    background-color: #cccccc;
}

.IM_Pseudo_Link {
	text-decoration : underline;
	cursor: pointer;
}

.IM_Pseudo_Link:hover {
	color : grey;
}

#IM_filter_popup_content input[type=radio]{
	 margin-right : 2px;
}

#IM_OptionsPane input[type=button]{
 margin-bottom: 10px;
}

#IM_OptionsPane input[type=checkbox]{
    position: relative;
    top: 3px;
    margin-right: 3px;
}



.ifw_tab_img{
    width: 21px;
    transition: all .1s ease-in-out;
}

.ifw_nav_tabs{
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #dddddd;
}

.ifw_total_content .tab-content{
    max-height: 420px;
    /*overflow-y: scroll;*/
}

.leaflet-popup-content{
    max-height: 470px;
    overflow: auto;
}

.ifw_total_content .nav-link{
    opacity: 0.65;
}

.ifw_total_content .nav-link.active{
    background: none;
    opacity: 1.0;
    transform: scale(1.15);
}

.ifw_total_content .nav-link:hover{
    background: none;
    opacity: 1.0;
}

.ifw_total_content .nav-link:not(.active):hover .ifw_tab_img{
    transform: scale(1.15);
}

.ifw_total_content .nav-link.active:hover{
    background: none;
}

.ifw_total_content .nav-link:focus{
    background: none;
    outline: none;
}

.ifw_total_content .nav-link.active:focus{
    background: none;
    outline: none;
}



.htmlTypeListView table th {
	font-weight: bold;
}

.htmlTypeListView table td, .htmlTypeListView table th {
	padding: 0 2px 0 2px;
}